html, body, div, p, pre
{
	padding: 0;
	margin: 0;
}
*
{
	margin: 0;
}
html, body
{
	font: 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	
	height: 100%;
}
html {
	background-color: #262626;
}

.introduction
{
	background-color: #262626;
	color: white;
	padding: 6px;
}
.languages
{
	background-color: #353535;
	color: white;
	padding: 6px;
}
.languages button
{
	
}
.export
{
	background-color: #353535;
	color: white;
}
.export button[disabled]
{
	color: black;
}

.viewer
{
	width: 100%;
}
.viewer pre
{
	color: white;
    font: 12px "Menlo", "Consola", "Inconsolata", "DejaVu Sans Mono", mono;
	padding: 20px;
	float: left;
}
.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}

.export, .push {
	height: 2em;
	clear: both;
}
.export p
{
	padding-top: 4px;
	padding-left: 4px;
}


/* @group Settings */

.settings
{
	width: 250px;
	float: right;
	color: white;
	background-color: #353535;
	padding: 14px;
}
.settings h2
{
	text-align: center;
	font-size: 14px;
	margin: 8px 0;
}
.settings h3
{
	font-size: 13px;
	margin-top: 12px;
	margin-bottom: 4px;
}

.settings ul
{
	list-style-type: square;
}
.settings li
{
	color: #bfbfbf;
	cursor: pointer;
}
.settings li:hover
{
	color: #e0e0e0;
	text-decoration: underline;
}
.settings li:active
{
	color: white;
	text-decoration: underline;
}
.settings li.selected
{
	font-weight: bold;
	color: white;
}

/* @group Reseed Button */

.settings button.reseed
{
	border-radius: 8px;
	border: none;
	background-color: #f3003e;
	width: 250px;
	height: 35px;
	
	color: white;
	font-size: 14px;
	font-weight: bold;
	
	margin-top: -14px;
}
.settings button.reseed:hover
{
	background-color: #f33969;
}
.settings button.reseed:active
{
	background-color: #f37b9a;
}

/* @end */

/* @group Import Seed Button */

.settings button.import-seed
{
	margin-left: 50px;
	margin-top:  8px;
	
	border-radius: 8px;
	border: none;
	background-color: #fff;
	width: 150px;
	height: 30px;
	
	color: black;
	font-size: 14px;
	font-weight: bold;	
}
.settings button.import-seed:hover
{
	background-color: #f3e3e7;
}
.settings button.import-seed:active
{
	background-color: #f3ced7;
}

/* @end */

.settings p
{
	margin-bottom: 10px;
}
.settings label
{	
	font-size: 12px;
	font-weight: bold;
	color: #bfbfbf;
}

/* @end */